<style>
.answers {
    min-height: 300px;
    /* border: 1px solid gray; */
}
</style>
<div class="quizMain">
    <div class="answers"><span>{{ quest.questNo + 1 }}</span><br>{{quest.ans}}<br>
        <h3 ng-bind="quest.question"></h3>
            <ul>
                <li ng-repeat="op in quest.options track by $index"><input type="radio" name="answer" id="{{op}}" ng-model="quest.selected" value="{{ op }}"><label for="{{ op }}">{{ op }}</label></li>
            </ul>
        </div>
        
        <button ng-click="previousQuestion()">Previous Question</button>
        <button ng-click="nextQuestion()">Next Question</button>
        <button ng-if="options.finish" ng-click="finish()">Finish Quiz</button>
    </div>
</div>