<div class="quizConfig">
    <form ng-submit="startQuiz()">
        
        <input type="radio" ng-model="config.topic" value="21" name="topic" id="topic1">
        <label for="topic1">Sports</label>
        
        <input type="radio" ng-model="config.topic" value="9"  name="topic" id="topic2">
        <label for="topic2">General Knowledge</label>
        
        
        <input type="radio" ng-model="config.topic" value="17"  name="topic" id="topic3">
        <label for="topic3">Science</label>
        
        <input type="radio" ng-model="config.topic" value="27"  name="topic" id="topic4">
        <label for="topic4">Animals</label>

        <br>
        <input type="submit" value="Start Now">
    </form>
</div>